
/* these two heights must be the same */
.wrapper {
  height: 800px;
}
.linksWrapper {
  height: 800px;
  animation: var(--standard-animation);
  position: absolute;
  width: 100%;
  overflow-x: auto;
  left: 0;
  margin-bottom: 50px;
  cursor: grab;
  /* left: calc(-1 * var(--standard-gap)); */
}
.links {
  height: 800px;
  padding-inline: var(--standard-gap);
  display: flex;
  align-items: stretch;
  gap: 20px;
  width: max-content;
}
.grabbing {
  cursor: grabbing;
}
.linksWrapper::selection {
  background: none;
}
.linksWrapper::-webkit-scrollbar {
  display: none;
}

.item {
  height: 100%;
  width: 100%;
  position: relative;
}
.item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 50% 0;
}
.item p {
  padding: 7px;
  color: rgba(0, 0, 0, var(--unimportant-opacity));
  position: absolute; 
  background-color: white;
}
.item a {
  transition: color 0.5s ease;
}
.item a:hover {
  color: rgba(0, 0, 0, 1);
}

.shameless {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.shameless .plugs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  margin: 0;
}

.plugs a {
  /*background-color: rgb(238, 238, 238, var(--unimportant-opacity));*/
  height: 20%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--standard-animation-duration) ease;
}
.shameless svg {
  opacity: var(--unimportant-opacity);
  transition: opacity 0.5s ease;
}
.shameless svg:hover {
  opacity: 1;
}
.shameless a:hover {
  background-color: transparent;
}

.shameless p {
  padding: 5px;
  padding-inline: 10px;
  opacity: var(--unimportant-opacity);
}

@media screen and (max-width: 790px) {
  .wrapper {
    height: fit-content;
  }
  .linksWrapper {
    position: relative;
    height: fit-content;
    width: 100%;
    left: 0;
    cursor: initial;
  }
  .links {
    padding-inline: 0;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 50px;
    overflow-x: hidden;
  }
  .links .item {
    width: 100%;
  }
  .item p {
    position: static;
  }
  .item img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }
  .shameless .plugs {
    flex-direction: row;
  }
}