.weeks {
  animation: var(--standard-animation);
  margin-block: 100px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  position: relative;
  background-color: #F4F4F4;
  z-index: 2;
}

.fillWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
}


.card, .fill {
  position: relative;
  aspect-ratio: 1/1;
  z-index: 1;
}
.card {
  background-color: rgb(238, 238, 238, var(--unimportant-opacity));
  border: 5px solid #F4F4F4;
  transition: background-color var(--standard-animation-duration) ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(0, 0, 0, var(--unimportant-opacity));
}
.activated {
  background-color: rgb(227, 227, 227, 0.7);
  color: rgba(0, 0, 0, 0.7);
}


.sectionheading {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: start;
}
.sectionheading .title {
  font-size: 1.6rem;
  text-align: right;
}
.sectionheading .comingSoon {
  font-size: 1.6rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.itemContent {
  cursor: pointer;
  width: fit-content;
}
.itemContent a {
  font-size: 1.4rem;
  width: fit-content;
  opacity: 0.8;
}
.itemContent a::after {
  opacity: 0.8;
}

.fill {
  background-color: #F4F4F4;
}


.hoverEffect {
  position: absolute;
  z-index: -1;
  background-color: var(--highlighter-1);
  transition: translate 0.35s ease 
              opacity 0.35s ease;
}


@media screen and (max-width: 1500px) {
  .weeks {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    border: 5px solid #F4F4F4;
  }
}

@media screen and (max-width: 900px) {
  .weeks {
    grid-template-columns: repeat(2, 1fr);
  }

  
}

@media screen and (max-width: 630px) {
  .weeks {
    grid-template-columns: 1fr;
  }
}
