/*.card {
  position: relative;
  padding: 80px 100px;
  border-bottom: 3px whitesmoke solid;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.date {
  height: fit-content;
  opacity: var(--unimportant-opacity);
}
.description {
  text-align: justify;
}


.card article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.content {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  width: 100%;
}

.files li, .priorityRating li {
  margin-bottom: 5px;
}

.ratingItem {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  cursor: pointer;
}
.rating, .comment {
  transition: all 0.3s ease-in-out;
}
.ratingItem .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  grid-row: 1;
  grid-column: 1;
  transform: rotateX(0) translateY(0%);
  opacity: 1;
}
.rating .stars {
  display: flex;
}
.ratingItem .comment {
  grid-row: 1;
  grid-column: 1;
  transform: rotateX(90deg) translateY(100%);
  opacity: 0;
}
.ratingItem:hover .comment {
  transform: rotateX(0) translateY(0%);
  opacity: 1;
}
.ratingItem:hover .rating {
  opacity: 0;
  transform: rotateX(90deg) translateY(-100%);
}
*/





/*
.indexIndicator {
  position: absolute;
  top: -3px;
  left: -50px;
  width: 50px;
  height: 53px;
  background-color: whitesmoke;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.indexIndicator p {
  font-family: "Serif";
  font-weight: 500;
  font-size: 2rem;
}
  */

.card {
  aspect-ratio: 1/1;
  background-color: rgb(238, 238, 238);
  position: relative;
  opacity: var(--unimportant-opacity);
  cursor: pointer;
}
.week {
  position: absolute;
  top: 20px;
  left: 20px;
}
.title {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


