.wrapper {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headingSection {
  margin-bottom: 80px;
}
.mobileHeading {
  display: none;
}

@media screen and (max-width: 1030px) {
  .heading {
    display: none;
  }
  .mobileHeading {
    display: block;
  }
}
@media screen and (max-width: 530px) {
  .mobileHeading {
    font-size: 7vw;
    line-height: 11vw;
  }
}