.wrapper {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headingSection {
  margin-bottom: 80px;
}
.mobileHeading {
  display: none;
}
.linksWrapper {
  animation: var(--standard-animation);
  width: 100vw;
  overflow-x: auto;
  position: relative;
  left: calc(-1 * var(--standard-gap));
  padding-inline: var(--standard-gap);
}
.linksWrapper::-webkit-scrollbar {
  display: none;
}
.links {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  width: fit-content;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 500px;
}

.imageLink {
  height: fit-content;
  width: 100%;
}
.imageLink div {
  height: fit-content;
}
.imageLink div img {
  height: 100%;
  width: auto;
}

.shameless {
  display: flex;
  gap: 0;
  flex-direction: column;
}
.shameless .plugs {
  display: flex;
  width: 100%;
  margin: 0;
}

.shameless a {
  background-color: rgb(238, 238, 238, var(--unimportant-opacity));
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  transition: background-color 0.2s ease;
}
.shameless svg {
  opacity: var(--unimportant-opacity);
  transition: opacity 0.2s ease;
}
.shameless svg:hover {
  opacity: 1;
}
.shameless a:hover {
  background-color: transparent;
}

.shameless p {
  padding: 5px;
  padding-inline: 10px;
  opacity: var(--unimportant-opacity);
}



.links .img {
  object-fit: contain;
  width: min-content;
  height: 100%;
}

@media screen and (max-width: 1030px) {
  .heading {
    display: none;
  }
  .mobileHeading {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .links {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 80px;
    overflow-x: hidden;
  } 
  .links .column {
    width: 100%;
  }
}
@media screen and (max-width: 530px) {
  .mobileHeading {
    font-size: 8vw;
    line-height: 12vw;
  }
}