.wrapper {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headingSection {
  margin-bottom: 80px;
}
.mobileHeading {
  display: none;
}
.linksWrapper {
  animation: var(--standard-animation);
  width: 100vw;
  overflow-x: auto;
  height: 800px;
  position: relative;
  left: calc(-1 * var(--standard-gap));
  margin-bottom: 50px;
}
.linksWrapper::-webkit-scrollbar {
  display: none;
}
.links {
  padding-inline: var(--standard-gap);
  display: flex;
  align-items: stretch;
  gap: 40px;
  width: max-content;
  height: 600px;
}
.item {
  height: 100%;
  width: 100%;
  position: relative;
}
.item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 50% 0;
}
.item p {
  padding: 7px;
  color: rgba(0, 0, 0, var(--unimportant-opacity));
  position: absolute; 
  background-color: white;
}

.shameless {
  height: 100%;
}
.shameless .plugs {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
}

.plugs a {
  /*background-color: rgb(238, 238, 238, var(--unimportant-opacity));*/
  height: 20%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  transition: background-color 0.2s ease;
}
.shameless svg {
  opacity: var(--unimportant-opacity);
  transition: opacity 0.2s ease;
}
.shameless svg:hover {
  opacity: 1;
}
.shameless a:hover {
  background-color: transparent;
}

.shameless p {
  padding: 5px;
  padding-inline: 10px;
  opacity: var(--unimportant-opacity);
}



.links .img {
  object-fit: contain;
  width: min-content;
  height: 100%;
}

@media screen and (max-width: 1030px) {
  .heading {
    display: none;
  }
  .mobileHeading {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .links {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 80px;
    overflow-x: hidden;
  } 
  .links .column {
    width: 100%;
  }
}
@media screen and (max-width: 530px) {
  .mobileHeading {
    font-size: 8vw;
    line-height: 12vw;
  }
}