
.wrapper {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.introduction {
  width: 380px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
.introduction p {
  opacity: var(--unimportant-opacity);
  animation: var(--standard-animation);
  padding-left: 6px;
}
.introduction h1 { 
  font-size: 6rem;
  line-height: 5.5rem;
  padding-bottom: 0px;
  width: min-content;
  flex-wrap: wrap;
  /*border-bottom: var(--standard-underline);*/
}

.sessionGrid {
  animation: var(--standard-animation);
  /*padding-block: var(--standard-gap);*/
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 50px;
}
.toBeContinued {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}
.toBeContinued .svgContainer {
  cursor: pointer;
  position: relative;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toBeContinued .svgContainer svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotateX(0deg) translateY(0%);
  transition: all 0.3s ease-in-out;
}
.toBeContinued .svgContainer::after {
  display: block;
  content: "more in the future.";
  font-weight: 350;
  font-family: "Inter";
  opacity: 0;
  transform: rotateX(90deg) translateY(100%);
  transition: all 0.3s ease-in-out;
}
.toBeContinued .svgContainer:hover svg {
  transform: translateX(-50%) rotateX(90deg) translateY(-100%);
  opacity: 0;
}
.toBeContinued .svgContainer:hover::after {
  transform: rotateX(0deg) translateY(0%);
  opacity: 1;
}


@media screen and (max-width: 1000px) {
  .wrapper {
    align-self: flex-start;
  }
  .flex {
    flex-direction: column;
    align-items: start;
  }
  .introduction {
    flex-direction: row;
    column-gap: 5%;
    align-items: end;
  }
  .introduction, .introduction h1 {
    width: fit-content;
  }
  .introduction h1 {
    font-size: 4rem;
    line-height: 3.7rem;
  }
  .sessionGrid {
    width: 100%;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .introduction h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
  .introduction {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 400px) {
  .introduction h1 {
    font-size: 23vw;
    line-height: 22vw;
  }
  .introduction {
    flex-direction: column;
    align-items: start;
  }
}