@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 300px;
  --header-height: 120px;
  --highlighter-1: rgba(209, 209, 209, 0.55);
  --standard-gap: 50px;
  --standard-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  --unimportant-opacity: 0.4;
  --standard-underline: 3px black solid;
  --standard-animation: 1s ease 0s fadeIn;
  --standard-animation-duration: 0.5s;
}
::selection {
  background: var(--highlighter-1);
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');
  src: url('../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Serif';
  src: url('../public/fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf');
  src: url('../public/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf');
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  38% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

main, footer {
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.page-exit {
  opacity: 0;
  transform: translateY(-25px) scale(0.98);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}



h1 {
  font-size: 3rem;
  font-weight: 410;
  padding-bottom: 15px;
  width: fit-content;
  line-height: 4rem;
}
h2 {
  font-size: 2.2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5px;
}
p, a, li {
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: block;
}

img::selection {
  background: none;
}


header {
  animation: var(--standard-animation);
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--standard-gap);
  position: fixed;
  z-index: 99;
  color: white;
  mix-blend-mode: difference;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}


header a::selection, header p::selection {
  background: none;
}

header ul {
  display: flex; 
  align-items: center;
  gap: 50px;
}
header ul li .link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: none;
}
header ul li .link .underlineLink::after {
  background-color: white;
}
header ul li p {
  font-size: 1.2rem;
}


.underlineLink {
  contain: paint;
}
.underlineLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width var(--standard-animation-duration) ease;
  height: 2px;
  background-color: black;
}
.inactive {
  opacity: var(--unimportant-opacity);
  cursor:default;
}
.inactive .underlineLink::after {
  display: none;
}
.underlineLink:hover::after, .underlineLink:focus::after {
  width: 100%;
}



header .logo {
  border-bottom: none;
  font-size: 1.5rem;
  line-height: 1.1rem;
  font-weight: 500;
}
.logo span {
  display: block;
  text-align: right;
}
header .logo::before {
  display: none;
}

main {
  width: 100%;
  /*margin-top: var(--header-height);*/
  padding: var(--standard-gap);
  padding-top: calc(var(--standard-gap) + var(--header-height));
  position: relative;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  display: flex;  
  align-items: center;
}


/* Links */
.fadeInLink {
  color: rgba(0, 0, 0, var(--unimportant-opacity));
  transition: color 0.5s ease;
}
.fadeInLink:hover, .fadeInLink:focus {
  color: rgb(0, 0, 0);
}



@media screen and (max-width: 1000px) {
  :root {
    --standard-gap: 5%;
  }

  header ul {
    gap: 20px;
  }
  header ul li a p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  p, a, li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: block;
  }

}

@media screen and (max-width: 700px) {

  header ul li a p {
    display: none;
  }

}

@media screen and (max-width: 350px) {

  p, a, li {
    font-size: 1rem;
    line-height: 1.8rem;
    display: block;
  }

}
