@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 70px;
  --header-height: 100px;
  --highlighter-1: rgba(255, 251, 0, 0.55);
  --highlighter-2: rgba(17, 255, 0, 0.55);
  --standard-gap: 50px;
}


@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');
  src: url('../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Serif';
  src: url('../public/fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf');
  src: url('../public/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf');
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}


h1 {
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
}
p, a, li {
  font-size: 1.3rem;
  display: block;
}
a {
  position: relative;
}
a::before {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--highlighter-2);
  top: 0;
  left: -7px;
  width: 5px;
  height: 100%;
  transition: width 0.7s cubic-bezier(.13,1.01,0,.98);
  z-index: -1;
}
a:hover::before {
  width: calc(100% + 14px);
}

footer {
  position: relative;
  bottom: 0px;
  left: -50%;
  width: 200vw;
  height: var(--footer-height);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 0px;
}
footer span {
  font-size: 4rem;
  line-height: 4rem;
  text-wrap: nowrap;
  font-weight: 400;
  opacity: 0.07;
}


header {
  width: 100vw;
  height: var(--header-height);
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--standard-gap);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}


header ul {
  display: flex; 
  align-items: center;
  gap: 50px;
}
header ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: none;
}
header ul li a p {
  font-size: 1.05rem;
}
header ul li a::before {
  display: none;
}

header .logo {
  border-bottom: none;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Serif";
}
header .logo::before {
  display: none;
}

main {
  margin-top: var(--header-height);
  padding: var(--standard-gap);
  position: relative;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  display: flex;  
  align-items: center;
  justify-content: stretch;
}


@media screen and (max-width: 1000px) {
  :root {
    --standard-gap: 5%;
  }

  header ul {
    gap: 20px;
  }
  p, a, li {
    font-size: 1.2rem;
    display: block;
  }

}

@media screen and (max-width: 700px) {

  header ul li a p {
    display: none;
  }

}