.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.link::before {
  display: none;
}
.link {
  text-align: center;
  line-height: 2.8rem;
  font-size: 3rem;
  animation: var(--standard-animation)
}
