.wrapper {
  width: 100%;
}
.headingSection {
  padding-top: 80px;
  position: relative;
  margin-bottom: min(5vw, 50px);
}
.headingSection img {
  animation: var(--standard-animation);
}
.headingSection .heading {
  font-size: 3.8rem;
  line-height: 4.5rem;
  margin-left: 50px;
}
.heading .firstLine {
  display: flex;
  overflow-y: hidden;
  gap: 12px;
}



.mobileHeading {
  display: none;
}
.mobileHeading .firstLineMobile {
  overflow-y: hidden;
}




@keyframes likesAnimation {
  0% {
    translate: 0% -400%;
  }
  20% {
    translate: 0% -400%;
  }
  25% {
    translate: 0% -300%;
  }
  45% {
    translate: 0% -300%;
  }
  50% {
    translate: 0% -200%;
  }
  70% {
    translate: 0% -200%;
  }
  75% {
    translate: 0% -100%;
  }
  95% {
    translate: 0% -100%;
  }
  100% {
    translate: 0% 0%;
  }
}
@keyframes likesAnimationStart {
  0% {
    translate: 0% -4rem;
  }
  100% {
    translate: 0% 0rem;
  }
}

.likes {
  opacity: 0.3;
  height: 1rem;
  translate: 0% -4.5rem;
  display: inline-flex;
  flex-direction: column;
  animation: 0.7s ease 2s likesAnimationStart forwards;
}

.likes > span {
  position: relative;
  translate: 0% -400%;
  animation: 25s ease 3s infinite likesAnimation;
}



.imageSection {
  width: 100%;
  padding-inline: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 100px;
  gap: min(2vw, 20px);
  position: relative;
  & > div {
    display: flex;
    gap: min(2vw, 20px);
    align-items: end;
    & > img {
      display: block;
      width: auto;
      height: min(20rem, 20vw);
      animation: var(--standard-animation);
    }
  }
  & > img {
    display: block;
    height: 30vw;
    width: auto;
    animation: var(--standard-animation);
  }
}

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  left: 50px;
  bottom: 0;
}


.quoteSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.quoteSection blockquote {
  opacity: 0.6;
  & > span {
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .headingSection .heading {
    margin-left: 0;
    font-size: 3rem;
  }
  .imageSection {
    padding-inline: 0;
  }
}
@media screen and (max-width: 1100px) {
  .heading {
    display: none;
  }
  .mobileHeading {
    display: block;
  }
}
@media screen and (max-width: 530px) {
  .mobileHeading {
    font-size: 7vw;
    line-height: 10vw;
  }
}