.wrapper {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headingSection {
  margin-bottom: 40px;
}
.mobileHeading {
  display: none;
}
.links {
  animation: var(--standard-animation);
  height: 500px;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  width: 100000px;
}
.links .imageLink div {
  height: 100%;
}
.links .imageLink div img {
  height: 100%;
  width: auto;
}

.links .img {
  object-fit: contain;
  width: min-content;
  height: 100%;
}

@media screen and (max-width: 1030px) {
  .heading {
    display: none;
  }
  .mobileHeading {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .links {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 80px;
  }
  .links .img {
    display: none;
  }
  .links .imageLink {
    max-height: 500px;
  } 
}
@media screen and (max-width: 530px) {
  .mobileHeading {
    font-size: 8vw;
    line-height: 12vw;
  }
}