@keyframes fadeInFooter {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
}

.countdown {
  font-family: 'Monocraft', monospace;
  width: fit-content;
  font-size: 1rem;
}
.footer {
  animation: 1s ease 0s fadeInFooter;
  position: relative;
  bottom: 0px;
  width: 100%;
  gap: 0px;
  margin-top: 100px;
  padding: var(--standard-gap);
  display: flex;
  align-items: end;
  gap: 50px;
  /* border-top: 1px solid rgba(0, 0, 0, var(--unimportant-opacity)); */
  padding-top: 100px;
  width: 100%;
}
.flex {
  width: 100%;
  align-self: flex-start;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 30px;
}

.secondFlex {
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  height: 100%;
  align-items: end;
}
.countdown {
  margin-right: 5px;
}
.logo {
  opacity: 0.3;
  font-size: 3rem;
  line-height: 4rem;
  font-family: "Monocraft", monospace;
  /* margin-bottom: 20px; */
  text-align: right;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.disclaimer {
  opacity: 0.3;
  text-align: right;
  line-height: 1.6rem;
  font-size: 1.2rem;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.footer h2 {
  margin-bottom: 5px;
}
.footer .backToTop {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  top: var(--standard-gap);
  right: var(--standard-gap);
  cursor: pointer;
}
.footer li {
  color: rgba(0, 0, 0, var(--unimportant-opacity));
}
.footer svg {
  opacity: var(--unimportant-opacity);
}
.footer a {
  display: inline;
  font-size: inherit;
}
.shameless a {
  display: flex;
  align-items: center;
  gap: 10px;
}