.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.card div {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card p {
  position: absolute;
  bottom: -32px;
  left: 4px;
  font-size: 1.2rem;
  opacity: var(--unimportant-opacity)
}
.card:hover .image {
  -webkit-transform:scale(0.9, 0.9);
  transform: scale(1.01);
}

.image {
  transition: transform 0.2s ease;
  z-index: -1;
  object-fit: contain;
}