.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: relative;
  height: 100%;
  width: fit-content;
}
.card div {
  overflow: hidden;
}
.card img {
  height: 100% !important;
  width: auto !important;
  object-fit: cover;
  z-index: -1;
}


@media screen and (max-width: 790px) {
  .card img {
    height: auto !important;
    width: 100% !important;
    z-index: -1;
  }
}

.card:not(.hasLink) {
  cursor:default;
}

.hasLink {
  cursor: pointer;
}
.hasLink img {
  transition: transform 0.5s ease;
}
.hasLink:hover .image {
  -webkit-transform:scale(0.9, 0.9);
  transform: scale(1.01);
}

.card p {
  padding: 5px;
  padding-top: 10px;
  font-size: 1.2rem;
  opacity: var(--unimportant-opacity)
}