.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: relative;
}
.card div {
  overflow: hidden;
}
.image img {
  z-index: -1;
  width: 100%;
  object-fit: cover;
}
.hasLink {
  cursor: pointer;
}
.hasLink .image {
  transition: transform 0.2s ease;
}
.hasLink:hover .image {
  -webkit-transform:scale(0.9, 0.9);
  transform: scale(1.01);
}

.card p {
  padding: 5px;
  font-size: 1.2rem;
  opacity: var(--unimportant-opacity)
}